<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shs.mybatis.BouquetMapper.xml">
	<select id="bestList" resultType="com.bouquet.dto.ProductDTO">
		<![CDATA[
			SELECT *
			FROM (SELECT * FROM tbl_product
				  ORDER BY p_good DESC)
			WHERE ROWNUM <= 6
		]]>
	</select>
	
	<select id="newList" resultType="com.bouquet.dto.ProductDTO">
		<![CDATA[
			SELECT *
			FROM (SELECT * FROM tbl_product
				  ORDER BY p_indate DESC)
			WHERE ROWNUM <= 6
		]]>
	</select>
	
	<!-- 21. 매개변수로 전달받은 id값을 sql문에 바인딩변수로 넣은 후 sql문 실행(DB로 이동) -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT bid FROM tbl_member
		WHERE bid = #{id}
	</select>
	
	<insert id="mem_insert" parameterType="com.bouquet.dto.MemberDTO">
		INSERT INTO tbl_member(bid, bpw, bname, bphone, bemail, bzipcode, baddr1, baddr2)
		VALUES(#{bid}, #{bpw}, #{bname}, #{bphone}, #{bemail}, #{bzipcode}, #{baddr1}, #{baddr2})
	</insert>
	
	<select id="loginCheck" parameterType="com.bouquet.dto.MemberDTO" resultType="com.bouquet.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE bid = #{bid} AND bpw = #{bpw}
	</select>
	
	<update id="mem_update" parameterType="com.bouquet.dto.MemberDTO">
		UPDATE tbl_member
		SET bname = #{bname},
		    bphone = #{bphone},
		    bemail = #{bemail},
		    bzipcode = #{bzipcode}, 
		    baddr1 = #{baddr1},
		    baddr2 = #{baddr2}
		WHERE bid = #{bid}
	</update>
	
	<select id="mem_select" parameterType="String" resultType="com.bouquet.dto.MemberDTO">
		SELECT * FROM tbl_member
		WHERE bid = #{id}
	</select>
	
	<select id="pwCheck" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM tbl_member
		WHERE bid = #{id} AND bpw = #{pw}
	</select>
	
	<update id="pwUpdate" parameterType="com.bouquet.dto.MemberDTO">
		UPDATE tbl_member
		SET bpw = #{bpw}
		WHERE bid = #{bid}
	</update>
	
	<delete id="mem_delete" parameterType="String">
		DELETE FROM tbl_member
		WHERE bid = #{bid}
	</delete>
	
	<select id="totalCount" parameterType="com.bouquet.dto.CriteriaDTO" resultType="int">
		SELECT COUNT(bno) FROM tbl_board
		WHERE bno > 0 
		<if test="search_option == 1">
        	AND title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 2">
        	AND title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 3">
        	AND content LIKE '%' || #{keyword} || '%'
        </if>
        <if test="search_option == 4">      
            AND writer LIKE '%' || #{keyword} || '%'
        </if>
	</select>
	
	<select id="listAll" resultType="com.bouquet.dto.BoardDTO">
		SELECT *
		FROM (SELECT rownum rnum, a.*
    		  FROM (SELECT *
       		        FROM tbl_board
                    WHERE bno > 0  
                    <if test="search_option == 1">
                    	AND title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%'
                    </if>
                    <if test="search_option == 2">
                    	AND title LIKE '%' || #{keyword} || '%'
                    </if>
                    <if test="search_option == 3">
                    	AND content LIKE '%' || #{keyword} || '%'
                    </if>
                    <if test="search_option == 4">      
                        AND writer LIKE '%' || #{keyword} || '%'
                    </if>
                    <if test="sort_type == 'new'">
                    	ORDER BY bno DESC
                    </if>
                    <if test="sort_type == 'good'">
                    	ORDER BY goodcnt DESC, bno DESC
                    </if>
                    <if test="sort_type == 'reply'">
                    	ORDER BY replycnt DESC, bno DESC
                    </if>
                    <if test="sort_type == 'view'">
                    	ORDER BY viewcnt DESC, bno DESC
                    </if>
                   ) a
             ) 
        WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
	</select>
</mapper>